body {
	height: 100%;
	background: #f7f7f7;
	margin: 0;
	margin-bottom: 30px;
	font-family: 'Source Sans Pro', sans-serif;
}

header#main-header {
	height: 90px;
	background: #ba0d0d;
	width: 100%;
	left: 0;
	position: fixed;
	top: 0;
	z-index: 5;
}

#sub-header {
	max-height: 600px;
	overflow: hidden;
}

.book-table {
	background: #fff;
	margin-top: -20%;
	min-height: 400px;
	border-radius: 10px;
	padding: 30px;
}

h1, h2, h3 {
	font-family: 'Signika', sans-serif;
}

h2 {
	color: #666;
	text-align: center;
}

ul#social-media {
	display: block;
	float: right;
	margin-top: 32px;
	margin-right: 10px;
}

ul#social-media li {
	display: inline-block;
	color: #fff;
	padding-left: 10px;
	vertical-align: middle;
}

ul#social-media li a {
	display: block;
}

ul#social-media-2 {
	display: none;
}

a#facebook {
	background: url(../images/facebook.png);
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

a#twitter {
	background: url(../images/twitter.png);
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

a#instagram {
	background: url(../images/instagram.png);
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

footer {
 	min-height: 30px;
	position: absolute;
	background: #ba0d0d;
	width: 100%;
	margin-top: 100px;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    /* Retina-specific stuff here */
 	a#logo {
		background: url(../images/logo-header@2x.png);
		background-size: 200px 68px;
	}

	a#facebook {
		background: url(../images/facebook@2x.png);
		background-size: 30px 30px;
	}

	a#twitter {
		background: url(../images/twitter@2x.png);
		background-size: 30px 30px;
	}

	a#instagram {
		background: url(../images/instagram@2x.png);
		background-size: 30px 30px;
	}
}

@media screen and (max-width: 980px) {

	
}

@media screen and (max-width: 768px) {


	ul#social-media {
		display: none;
	}
	
}

@media screen and (max-width: 640px) {

	ul#social-media {
		display: none;
	}
	
<<<<<<< HEAD
}
=======
}
>>>>>>> 7238233f2f0697c3fde689c45584187e5172c32b
